Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

MemoryCaptures/
Recordings/

Assets/Firebase/Plugins/x86_64/*.bundle
Assets/Firebase/Plugins/x86_64/*.so

*.csproj
*.unityproj
*.sln
*.user
*.tmp

.DS_Store
Thumbs.db
